#humanizedEditorWrapper {
    z-index: 0;
}

#holderResizeSignalFrame {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#postingHtmlToolbar > div > div:not(#imageUpload) {
    display: none;
}
